<div class="row">
    <div class="col-sm">
      <canvas id="d1" width="100" height="100"></canvas>
    </div>
    <div class="col-sm">
        <canvas id="d2" width="100" height="100"></canvas>
    </div>
    <div class="col-sm">
        <canvas id="d3" width="100" height="100"></canvas>
    </div>
    <div class="col-sm">
        <canvas id="d4" width="100" height="100"></canvas>
    </div>
</div>

<script>
data1 = {
    datasets: [{
        data: ["{{project_number_of_scenes}}"-"{{project_leader_approved_text}}","{{project_leader_approved_text}}" ,],
        backgroundColor:["#DC143C","#32CD32"]
    }],
    labels: ['No','Yes']
};
var ctx = document.getElementById('d1').getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: data1,
});

data2 = {
    datasets: [{
        data: ["{{project_number_of_scenes}}"-"{{project_leader_approved_image}}","{{project_leader_approved_image}}" ,],
        backgroundColor:["#DC143C","#32CD32"]
    }],
    labels: ['No','Yes']
};
var ctx = document.getElementById('d2').getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: data2,
});

data3 = {
    datasets: [{
        data: ["{{project_number_of_scenes}}"-"{{project_client_approved_text}}","{{project_client_approved_text}}" ,],
        backgroundColor:["#DC143C","#32CD32"]
    }],
    labels: ['No','Yes']
};
var ctx = document.getElementById('d3').getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: data3,
});

data4 = {
    datasets: [{
        data: ["{{project_number_of_scenes}}"-"{{project_client_approved_image}}","{{project_client_approved_image}}" ,],
        backgroundColor:["#DC143C","#32CD32"]
    }],
    labels: ['No','Yes']
};
var ctx = document.getElementById('d4').getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: data4,
});

</script>


